In [1]:
import pandas as pd
import numpy as np

### Bring in 6-month CSVs clean

In [67]:
# Last 6 months of 2019
d_1 = "resources/data/202005-citibike-tripdata.csv"
d_2 = "resources/data/201908-citibike-tripdata.csv"
d_3 = "resources/data/201909-citibike-tripdata.csv"
d_4 = "resources/data/201910-citibike-tripdata.csv"
d_5= "resources/data/201911-citibike-tripdata.csv"
d_6 = "resources/data/201912-citibike-tripdata.csv"

# Read File and store into Pandas data frame
# resource: https://stackoverflow.com/questions/30620323/merge-two-files-in-python-pandas
frames = [pd.read_csv(d_1), pd.read_csv(d_2), pd.read_csv(d_3), pd.read_csv(d_4)\
         ,pd.read_csv(d_5),pd.read_csv(d_6)]

combined_df = pd.concat(frames,ignore_index=True)

In [5]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11496679 entries, 0 to 11496678
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 1.3+ GB

### Aggregated data on Bike Trips on each hour of the day

In [69]:
#Run the agg. on the big-data set
# COUNT OF BIKE TRIPS ON EACH HOUR OF THE DAY
combined_df['starttime'] = combined_df['starttime'].astype('datetime64[ns]')
# print(test_df.starttime.dt.hour.head(100))

combined_df['datehour'] = combined_df['starttime'].dt.hour
trip_combined = combined_df.groupby(by=["datehour"])["start station id"].count().reset_index(name='count_of_bike_trips')

#export to csv file located at the bottom - "hourday_triptotalsYYYY-MMM-MMM.csv"

In [ ]:
# #test station count agg. on frames = [pd.read_csv(data_201907)
# test_df = pd.read_csv(data_201907)
# sample_df = test_df.head(1000)
# popular_stations = sample_df.groupby(by=["start station id"])["usertype"].count().reset_index(name='total_trips')
# popular_stations

### Aggregated data on Most Popular Start & End Stations

In [ ]:
#Run the agg. on the big-data set
# AGG. of MOST POPULAR START STATIONS
popular_stations = combined_df.groupby(by=["start station id"])["usertype"].count().reset_index(name='total_trips')
popular_stations.astype(np.float64)

#export to csv file located at the bottom - "popularstart_triptotalsYYYY-MMM-MMM.csv"

In [ ]:
#Run the agg. on the big-data set
# AGG. of MOST POPULAR END STATIONS
end_stations = combined_df.groupby(by=["end station id"])["usertype"].count().reset_index(name='total_trips')

end_stations = end_stations[end_stations["end station id"].notnull()]
end_stations.astype(np.float64)

#export to csv file located at the bottom - "popularend_triptotalsYYYY-MMM-MMM.csv"

### Aggregated data on Bike Usage on each hour of the data

In [70]:
#Run the agg. on the big-data set
# AGG. of BIKE ID USEAGE
bike_hour_total_sec = combined_df.groupby(by=["datehour","bikeid"])["tripduration"].sum().reset_index(name='total_seconds_used')

# total_td["total_mins_used"] =  (total_td["total_seconds_used"] / 60)
# total_td = total_td.astype(np.int64)

# export to csv file located at the bottom - "bikewear_YYYY-MMM-MMM.csv"

### Aggregated data on Bike Users

In [72]:
gender_cnt_df = combined_df["gender"].value_counts().reset_index(name="gender_count")
gender_cnt_df.rename({'index': 'gender'}, axis=1)

# export to csv file located at the bottom - "gendercount_YYYY-MMM-MMM.csv"

   gender  gender_count
0       1       7747758
1       2       2836201
2       0        912720

In [73]:
usertype_df = combined_df.groupby(by=["start station id","usertype"])["tripduration"].sum().reset_index(name="total_seconds_used")
# export to csv file located at the bottom - "userstation_YYYY-MMM-MMM.csv"

In [71]:
user_usage_info = combined_df.groupby(by=["birth year","usertype"])["tripduration"].sum().reset_index(name="total_seconds_used")
# user_df_summary.reset_index(inplace=True)
#export to csv file located at the bottom - "user_usage_info_YYYY-MMM-MMM.csv"

     birth year    usertype  total_seconds_used
0          1874  Subscriber                6175
1          1880    Customer                 702
2          1885    Customer                3256
3          1885  Subscriber              169432
4          1886  Subscriber              131864
..          ...         ...                 ...
199        2001  Subscriber            17304339
200        2002    Customer            16577025
201        2002  Subscriber             7337881
202        2003    Customer             6118209
203        2003  Subscriber             6587143

[204 rows x 3 columns]

In [65]:
df_null = user_df_summary.loc[user_df_summary['usertype']. isnull()]
df_null

Empty DataFrame
Columns: [birth year, usertype, total_seconds_used]
Index: []

### CSV Exports

In [ ]:
# #export to csv file - labels
# labels = pd.read_csv(d_1)
# labels.to_csv('resources/clean_data/july2019.csv', index = False)

In [ ]:
#export to csv file - "hourday_triptotalsYYYY-MMM-MMM.csv"
trip_combined.to_csv('resources/2020_data/hourday_triptotals2019-jul-dec.csv', index = False)

In [ ]:
#export to csv file - "popularstart_triptotalsYYYY-MMM-MMM.csv"
popular_stations.to_csv('resources/2020_data/popularstart_triptotals2019-jul-dec.csv', index = False)

In [ ]:
#export to csv file - "popularend_triptotalsYYYY-MMM-MMM.csv"
end_stations.to_csv('resources/2020_data/popularend_triptotals2019-jul-dec.csv', index = False)

In [74]:
# export to csv file - "bikewear_YYYY-MMM-MMM.csv"
bike_hour_total_sec.to_csv('resources/2020_data/bikewear_2019-jul-dec.csv', index = False)

In [75]:
# export to csv file - "gendercount_YYYY-MMM-MMM.csv"
gender_cnt_df.to_csv('resources/2020_data/gendercount_2019-jul-dec.csv', index = False)

In [76]:
# export to csv file - "userstation_YYYY-MMM-MMM.csv"
usertype_df.to_csv('resources/2020_data/userstation_2019-jul-dec.csv', index = False)

In [77]:
#export to csv file - "user_usage_info_YYYY-MMM-MMM.csv"
user_usage_info.to_csv('resources/2020_data/user_usage_info_2019-jul-dec.csv', index = False)